<include file="Index/header" />
<form style="width:90%;text-align: center">
    <table>
        <tr>
            <td align="right" height="50" width="50%"><label>ID：</label></td>
            <td align="left"><input name="username" value="" class="input-text radius" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>닉네임：</label></td>
            <td align="left"><input name="nickname" value="" class="input-text radius"  style="width:200px;height: 30px"></td>
        </tr>

        <tr>
            <td align="right" height="50"><label>비밀번호：</label></td>
            <td align="left"><input name="password1" value="" type="password" class="input-text radius"  style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>비번재입력：</label></td>
            <td align="left"><input name="password2" value="" type="password" class="input-text radius"  style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>收益百分比：</label></td>
            <td align="left"><input name="jiesuan" value="" class="input-text radius"  style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>结算方式：</label></td>
            <td align="left"><select name="jiesuan_type" class="input-text radius">
                <option value="0">押注</option>
                <option value="1">充值</option>
            </select></td>
        </tr>

    </table>
</form>
<include file="Index/foot" />