<include file="Index/header" />
<form style="width:90%;text-align: center">
    <table>
        <input type="hidden" name="id" value="{$admin.id}">
        <tr>
            <td align="right" height="50" width="50%"><label>账号：</label></td>
            <td align="left"><input name="username" value="{$admin.username}" class="input-text radius" placeholder="输入账号" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>昵称：</label></td>
            <td align="left"><input name="nickname" value="{$admin.nickname}" class="input-text radius" placeholder="输入昵称" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>请输入密码：</label></td>
            <td align="left"><input name="password1" value="" type="password" class="input-text radius" placeholder="输入密码" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>再次输入密码：</label></td>
            <td align="left"><input name="password2" value="" type="password" class="input-text radius" placeholder="再次输入密码" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>收益百分比：</label></td>
            <td align="left"><input name="jiesuan" value="{$admin.jiesuan}" class="input-text radius"  style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="50"><label>结算方式：</label></td>
            <td align="left"><select name="jiesuan_type" class="input-text radius">
                <option value="0" <eq name="admin.jiesuan_type" value="0">selected</eq> >押注</option>
                <option value="1" <eq name="admin.jiesuan_type" value="1">selected</eq>>充值</option>
            </select></td>
        </tr>

    </table>
</form>
<include file="Index/foot" />