<include file="Index/header"/>
<script type="text/javascript" src="__PUBLIC__/laydate/laydate.js"></script>

<div>
    <nav class="breadcrumb"><i class="fa fa-home"></i> {$globals.CONTROLLER_NAME}
        <div class="nav_right_nav">&nbsp;&nbsp;
            <volist name="ActBtns" id="btn">
                <eq name="btn.action" value="add">
                <a href="javascript:;" title="{$btn.name}" data-id="{$vo.id}" data-name="{$vo.name}" class="{$btn.action} add message-right">
                    <i class="fa fa-{$btn.icon}"></i>&nbsp;{$btn.name}
                </a>
                </eq>
            </volist>
        </div>
    </nav>
    <form action="__URL__/index" >
        <div class="search_list">
        <span class="search_list_content">&nbsp;
        用户：<input type="text" name="keyword" style="width: 175px" placeholder="用户名/手机号/姓名/身份证" value="{$search.keyword}" class="search_input"/></span>
  <span class="search_list_content">&nbsp;
        状态：<select name="status" class="search_input">
          <option value="999">--全部--</option>
          <option value="0">正常</option>
          <option value="1">黑名单</option>
      </select></span>


            <span class="search_list_content">&nbsp;时间：
        <input type="text" name="start_time" value="{$search.start_time}" class="search_input" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="width: 100px;"/>
        至 <input type="text" name="end_time" value="{$search.end_time}" class="search_input" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="width: 100px;"/>
        </span>


        <span class="search_list_content">
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="查询" class="btn_fa_css btn btn-primary"
                                       style="margin:0;"/></span>
        </div>
    <div class="page-container">
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <!--<th width="20"><input name="" type="checkbox" value=""></th>-->
                    <th width="30">No.</th>
                    <th>标题</th>
                    <th>链接</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>
                <empty name="list">
                    <tr class="text-c va-m"><td colspan="6">暂无符合条件的数据！</td></tr>
                <else/>
                <volist name="list" id="vo" key="k">
                    <tr class="text-c va-m">
                        <td><span class="label label-success radius">{$k}</span></td>
                        <td>{$vo.title}</td>
                        <td>{$vo.createtime|date="Y-m-d H:s:i",###}</td>
                        <td class="td-manage">
                            <volist name="ActBtns" id="btn">
                                <neq name="btn.action" value="add">
                                    <a href="javascript:;" title="{$btn.name}" data-id="{$vo.id}" data-name="{$vo.title}" class="{$btn.action}">
                                        <i class="fa fa-{$btn.icon}"></i>&nbsp;
                                    </a>
                                </neq>
                            </volist>
                        </td>
                    </tr>
                </volist>
                </empty>
                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>
<include file="Index/foot"/>
<script>
    $(document).ready(function () {
        /* 添加菜单按钮单击 */
        $('.add').click(function () {
            var title = $(this).data('name');
            var id = $(this).data('id');
            var index = layer.open({
                title: '<i class="fa fa-plus-square-o" style="color: red;"> </i> 添加',
                area: ['85vw', '85vh'],
                fix: false, //不固定
                content: '__URL__/add/',
                btn: ['确定', '关闭'],
                yes: function () {
                    var form = layer.getChildFrame('form', index);
                    $.post('__URL__/add', form.serialize(), function (data) {
                        if (data.status == 1) {
                            layer.msg(data.msg, {
                                time: 2000,
                                end: function () {
                                    layer.close(index);
                                    window.location.reload();
                                }
                            })
                        } else {
                            layer.msg(data.msg, function () {
                            });
                        }
                    }, 'json')
                }
            });
        })
        /* 修改按钮单击 */
        $('.save').click(function () {
            var title = $(this).data('name');
            var id = $(this).data('id');
            var index = layer.open({
                type:2,
                title: '<i class="fa fa-plus-square-o" style="color: red;"> </i> 编辑' + title,
                area: ['85vw', '85vh'],
                fix: false, //不固定
                content: '__URL__/save/id/' + id,
                btn: ['确定', '关闭'],
                yes: function () {
                    var form = layer.getChildFrame('form', index);
                    $.post('__URL__/save', form.serialize(), function (data) {
                        if (data.status == 1) {
                            layer.msg(data.msg, {
                                time: 2000,
                                end: function () {
                                    layer.close(index);
                                    window.location.reload();
                                }
                            })
                        } else {
                            layer.msg(data.msg, function () {
                            });
                        }
                    }, 'json')
                }
            });
        })
        /* 删除数据 */
        $('.del').click(function () {
            var title = $(this).data('name');
            var id = $(this).data('id');
            var index = layer.msg('是否删除' + title + '? <br>删除后不可恢复，请谨慎操作！', {
                icon: 2,//1 √; 2 ×; 3 ?; 4 stock; 5 难过;6 微笑 ;7 ！;
                time: 0,
                shade: [0.8, '#393D49'],
                btn: ['删除', '取消'],
                yes: function () {
                    layer.close(index);
                    $.post('__URL__/del', {id: id, title:title}, function (data) {
                        if (data.status == 1) {
                            layer.msg(data.msg, {
                                time: 1000, end: function () {
                                    window.location.reload();
                                }
                            })
                        } else {
                            layer.msg(data.msg, function () {
                            });
                        }
                    }, 'json');
                }
            });
        });

        // 禁用
        $('.disable_data').click(function () {
            var title = $(this).data('name');
            var id = $(this).data('id');
            $.post('__URL__/disable_data', {id: id}, function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {
                        time: 1000, end: function () {
                            window.location.reload();
                        }
                    })
                } else {
                    layer.msg(data.msg, function () {
                    });
                }
            }, 'json');
        });
        /* 查看单击 */
        $('.view').click(function () {
            var title = $(this).data('name');
            var id = $(this).data('id');
            var index = layer.open({
                type: 2,
                title: '<i class="fa fa-plus-square-o" style="color: red;"> </i> 查看' + title,
                area: ['85vw', '85vh'],
                fix: false, //不固定
                content: '__URL__/view/id/' + id,
                btn: [ '关闭'],
                yes: function () {
                    layer.close(index);
                }
            });
        })
        //-----------------------------------------------------
    })
</script>