<include file="Index/header" />
<form style="width:90%;text-align: center">
    <table>
        <input type="hidden" name="id" value="{$cons.id}"/>

        <tr>
            <td align="right" width="150px" height="40px"><label>排序：</label></td>
            <td align="left"><input name="display" value="{$cons.display}" class="input-text radius" placeholder="输入副标题" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="40px"><label>分类名称：</label></td>
            <td align="left"><input name="name" value="{$cons.name}" class="input-text radius" placeholder="输入分类名称" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="40px"><label>上传图片：</label></td>
            <td align="left">
                <img src="" id="show_image" height="100" style="display: none;"/>
                <input type="hidden" value="" id="url"  name="image" class="input-text radius" />
                <input type="button" id="uploadButton" value="Upload" />
                <!--<font color="red">图片尺寸130*130</font>-->
            </td>
        </tr>
        <tr>
            <td align="right" height="40px"><label>URL：</label></td>
            <td align="left"><input name="url" class="input-text radius" value="{$cons.url}" style="width:200px;height: 30px"></td>
        </tr>
        <tr>
            <td align="right" height="40px"><label>分类描述：</label></td>
            <td align="left">
                <textarea placeholder="分类描述" name="description" cols="35" rows="5">{$cons.description}</textarea>
            </td>
        </tr>
    </table>
</form>
<include file="Index/foot" />
<script>
    KindEditor.ready(function(K) {
        var uploadbutton = K.uploadbutton({
            button : K('#uploadButton')[0],
            fieldName : 'image',
            url : '__URL__/upload',
            afterUpload : function(data) {
                //console.log(data)
                data= eval(data);
                if (data.status == 1) {
                    K('#url').val(data.msg);
                    var img = '__APP__/../'+data.msg;
                    $('#show_image').attr('src',img);
                    $('#show_image').css('display','');
                } else {
                    alert(data.msg);
                }
            }
        });
        uploadbutton.fileBox.change(function(e) {
            uploadbutton.submit();
        });
    });
</script>